## Ignore arquivos temporários do Visual Studio, crie resultados e
## arquivos gerados por add-ons populares do Visual Studio.

#######################
# fonte compilada #
#######################
* .com
*.classe
* .dll
*.Exe
* .pdb
* .dll.config
* .cache
* .suo
# Incluir dlls se estiverem no diretório de pacotes NuGet
! / packages / * / lib / *. dll
# Incluir dlls se estiverem no diretório CommonReferences
! * CommonReferences / *. Dll
########################
# Coisas de atualização do VS #
########################
_UpgradeReport_Files /
##################
# Diretórios #
##################
bin /
obj /
Resultado dos testes/
#######################
# Registro de publicação na Web #
#######################
* .Publish.xml
################
# Resharper #
################
/_ReSharper.*
* .ReSharper. *
###############
# Pacotes #
###############
# é melhor descompactar esses arquivos e confirmar o código-fonte bruto
# git tem seus próprios métodos de compressão integrados
* .7z
* .dmg
* .gz
* .iso
* .jar
* .rar
*.alcatrão
*.fecho eclair
############################
# Logs e bancos de dados #
############################
*.registro
* .sqlite
# Arquivos gerados pelo sistema operacional #
############################
.DS_Store?
ehthumbs.db
Ícone?
Thumbs.db


# Arquivos específicos do usuário
*.do utilizador
* .userosscache
* .sln.docstates

# Arquivos específicos do usuário (MonoDevelop / Xamarin Studio)
* .userprefs

# Build results
[Dd] ebug /
[Dd] ebugPublic /
[Rr] elease /
[Rr] eleases /
x64 /
x86 /
Construir/
bld /
[Bb] em /
[Oo] bj /

# Visual Studo 2015 cache / diretório de opções
.vs /

# Resultados do teste MSTest
[Tt] est [Rr] esult * /
[Bb] uild [Ll] og. *

# NUNIT
* .VisualState.xml
TestResult.xml

# Compilar resultados de um projeto ATL
[Dd] ebugPS /
[Rr] eleasePS /
dlldata.c

# DNX
project.lock.json
artefatos /

* _i.c
* _p.c
* _i.h
* .ilk
* .meta
* .obj
* .pch
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* .vspscc
* .vssscc
.builds
* .pidb
* .svclog
* .scc

# Arquivos de teste Chutzpah
_Chutzpah *

# Arquivos de cache do Visual C ++
ipch /
* .aps
* .ncb
* .opensdf
* .sdf
* .cachefile

# Criador de perfil do Visual Studio
* .psess
* .vsp
* .vspx

# Espaço de trabalho local do TFS 2012
$ tf /

# Guidance Automation Toolkit
* .gpState

# ReSharper é um suplemento de codificação .NET
_ReSharper * /
*. [Rr] e [Ss] harpista
* .DotSettings.user

# JustCode é um suplemento de codificação .NET
.JustCode

# TeamCity é um suplemento de construção
_TeamCity *

# DotCover é uma ferramenta de cobertura de código
* .dotCover

# NCrunch
_NCrunch_ *
. * crunch * .local.xml

# MightyMoose
*.milímetros.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache /

# Pasta de saída Installshield
[Ee] xpress /

# DocProject é um suplemento gerador de documentação
DocProject / buildhelp /
DocProject / Help / *. HxT
DocProject / Help / *. HxC
DocProject / Help / *. Hhc
DocProject / Help / *. Hhk
DocProject / Help / *. Hhp
DocProject / Help / Html2
DocProject / Help / html

# Diretório Click-Once
publicar/

# Publicar saída da Web
*. [Pp] ublish.xml
* .azurePubxml
# TODO: Comente a próxima linha se quiser verificar suas configurações de implantação da web 
# mas as strings de conexão do banco de dados (com possíveis senhas) serão descriptografadas
* .pubxml
* .publishproj

# Pacotes NuGet
* .nupkg
# A pasta de pacotes pode ser ignorada devido ao Package Restore
** / packages / *
# exceto build /, que é usado como um destino MSBuild.
! ** / packages / build /
# Remova o comentário se necessário, mas geralmente será regenerado quando necessário
#! ** / packages / repositories.config

# Saída de compilação do Windows Azure
csx /
* .build.csdef

# Diretório de pacote de aplicativos da Windows Store
AppPackages /

# Arquivos de cache do Visual Studio
# arquivos que terminam em .cache podem ser ignorados
*. [Cc] dor
# mas mantenha o controle dos diretórios que terminam em .cache
! *. [Cc] dor /

# Outras
ClientBin /
[Ss] tyle [Cc] op. *
~ $ *
* ~
* .dbmdl
* .dbproj.schemaview
* .pfx
* .publishsettings
node_modules /
bower_components /
orleans.codegen.cs

# Projetos RIA / Silverlight
Generated_Code /

# Fazer backup e relatar arquivos de conversão de um arquivo de projeto antigo
# para uma versão mais recente do Visual Studio. Arquivos de backup não são necessários,
# porque temos git ;-)
_UpgradeReport_Files /
Cópia de segurança*/
UpgradeLog * .XML
UpgradeLog * .htm

# Arquivos do SQL Server
* .mdf
* .ldf

# Projetos de Business Intelligence
* .rdl.data
* .bim.layout
configurações * .bim _ *.

# Microsoft Fakes
FakesAssemblies /

# Node.js Ferramentas para Visual Studio
.ntvs_analysis.dat

# Log de compilação do Visual Studio 6
* .plg

# Arquivo de opções do espaço de trabalho do Visual Studio 6
*.optar